.leftbar {
  height: 90vh;
  background: var(--primarydark);
  display: flex;
  flex-direction: column;
}
.leftbar-item {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.leftbar-item > * {
  padding: 0.5vw;
  padding-right: 2vw;
}
.leftbar-item > i {
  font-size: 1.3rem;
}

.leftbar-firsti {
  padding-bottom: 1vw;
}
