.navbar {
  background: var(--navbarcolor);
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.navbar-container {
  display: flex;
  height: 10vh;
}

.navbar-logo {
  flex-direction: column-reverse;
  font-family: "Lora", serif;

  color: var(--white);
  justify-self: start;
  align-self: center;
  margin-left: 2px;
  text-decoration: none;
  font-size: 1.7rem;
}
.navbar-logo:hover {
  color: var(--primary);
}
.fa-couch {
  margin-left: 2px;
}
.nav-menu {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: end;
  text-align: center;
  width: 60vw;
  margin: 0;
  margin-right: 0.5rem;
}
.nav-menu :first-child {
  grid-column-start: 3;
}
.nav-item {
  height: 100%;
}
.nav-item-link {
  color: var(--white);
  font-size: 1.1rem;
  display: flex;
  border-top: 4px solid transparent;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
}
.nav-item-link:hover {
  color: var(--primary);
  border-top: 4px solid var(--primary);
  text-decoration: none;
}

#nav-item-button-wrapper {
  font-size: 1.1rem;
  display: flex;
  border-top: 4px solid transparent;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
}
#nav-item-button-wrapper > * {
  text-decoration: none;
}

.menu-icon {
  display: none;
}
.nav-item-link-mobile {
  display: none;
  visibility: hidden;
}

@media (max-width: 960px) {
  .menu-icon {
    display: block;
    visibility: visible;
    text-align: center;
    margin: auto;
    padding: 0;
    padding-top: 4px;
  }
  .menu-icon > i {
    font-size: 2rem;
  }
  .navbar-logo > i {
    font-size: 1.5rem;
  }
  .nav-menu {
    display: none;
    visibility: hidden;
  }
  .navbar-logo {
    width: 110%;
  }
  .nav-menu-active {
    width: 100%;
    display: grid;
    visibility: visible;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding: 0;
  }
  .nav-menu-active :first-child {
    grid-column-start: 1;
  }
  .navbar-container {
    width: 95%;
  }
  .navbar-logo-active {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 960px) {
  .nav-item-link {
    font-size: 0.8rem;
  }
  .navbar-logo {
    font-size: 0.9rem;
  }
}
